body {
    background-color: #ae8b76;
}
.topnav {
    background-color: #508182;
    overflow: hidden;
    padding: 40px;
    color: black;
}
.topnav a {
    display: flexbox;
    background-color:#5a868d;
    padding: 40px;
    font-size: 17px;
    text-decoration:none;
    color: black;
}
.topnav a:hover {
    background-color: azure;
}
.google {
    display: flexbox;
    justify-content: flex-end;
}

.linkedin {
    display: flexbox;
    justify-content: flex-end;
    margin-right: 10px;   
}


.overlayText {
    position: absolute;
    top: 10%;
    left: 30%;
    z-index: 1;
  }
#centerText {
    color: rgb(250, 254, 254);
    font-family:'Lucida Sans';
    font-size: 130px;
    text-shadow: #69a8eb 2px 3px;
    
}
#text1 {
    color: rgb(3, 3, 18);
    font-family:'Lucida Sans';
    font-size: 60px;
    font-style: bold italic;
    text-shadow: #157e4f 2px 3px;
}
.container{
    display: inline-block;
    column-gap: 50px;
    width: 800px;
    height: 500px;
    padding: 50px;
    margin-left:6%; 
    border: black;

}