body {
    background-color: #c9c8cd;
    text-align: center;}
.topnav {
    background-color: #a8cad3;
    overflow: hidden;
    padding: 20px;
}
.topnav a {
    display: flexbox;
    background-color: #bed4d2;
    padding: 20px;
    font-size: 17px;
    text-decoration:none;
}
.topnav a:hover {
    background-color: azure;
}
.google {
    display: flexbox;
    justify-content: flex-end;
   
  
}
.linkedin {
    display: flexbox;
    justify-content: flex-end;
    margin-right: 10px;
    
    
}

.overlayText {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 1;
  }
#centerText {
    color: #0f3a47;
    text-shadow: rgb(214, 189, 45) 3px 4px;
    font-family:'Lucida Sans';
    font-size: 100px;
    
}
th, td {
    padding: 4%;
    margin: auto;
    width: 500px;
  }
td:nth-child(even), th:nth-child(even) {
    background-color: #6faabb;}
h2 {
    color: #0f3a47;
    text-shadow: rgb(214, 189, 45) 3px 4px;
    font-size: 40px;
}